/**
 * Main CSS
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #747704;
}

/** Text formatting */
.text-thin {
    font-weight: 100;
}

.text-bold {
    font-weight: 400;
}

.text-huge {
    font-size: 48px;
}

.text-pale {
    color: #bcbbbb;
}

.logo {
    margin: 10px 0;
}

/** Simple line separator */
.line-separator {
    height: 3px;
    border: 0;
    background: #bcbbbb;
    margin: 10px 0px 25px;
}

/** Links */
a,
a:hover,
a:visited {
    color: #747704;
}
