/**
 * Main CSS
 */

* {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #747704;
}

/** Text formatting */
.text-thin {
    font-weight: 100;
}

.text-bold {
    font-weight: 400;
}

.text-huge {
    font-size: 48px;
}

.text-pale {
    color: #bcbbbb;
}

/** Logo and banner */
.logo {
    margin: 10px 0;
}

.logo-container,
.banner-container {
    max-height: 300px;
    overflow: hidden;
}

/** Line separators */
.line-separator,
.footer-separator {
    border: 0;
    background: #bcbbbb;
}

.line-separator {
    height: 3px;
    margin: 10px 0 25px;
}

.footer-separator {
    height: 1px;
    margin: 50px 0;
}

/** Navigation bar */
.navbar {
    background-color: rgba(116, 119, 4, 0.35);
}

.icon-bar {
    background-color: #747704;
}

/** Links */
a,
a:hover,
a:visited {
    color: #747704;
}

/** Footer */
.docs-footer {
    padding: 40px 0;
    color: #767676;
    text-align: center;
}